<% provide :title, t(".help") %>
<div class = "center jumbotron">
  <h1><%= t ".help" %></h1>
  <p>
    <%= t ".content_html" %> <p>
    <%= link_to t(".word4"), "http://www.railstutorial.org/help" %>
    <%= link_to t(".word5"), "http://www.railstutorial.org/book" %>
  </p>
</div>
